[tool.poetry]
name = "perception-dataset"
version = "1.0.1"
description = "TIER IV Perception dataset has modules to convert dataset from rosbag to t4_dataset"
authors = ["Yusuke Muramatsu <yusuke.muramatsu@tier4.jp>", "Shunsuke Miura <shunsuke.miura@tier4.jp>"]

[tool.poetry.dependencies]
python = ">=3.8,<4"
numpy = "^1.23.1"
PyYAML = "^6.0"
nptyping = "^2.2.0"
Pillow = "^9.3.0"
scipy = "^1.9.0"
python-json-logger = "^2.0.4"
open3d = "0.16.0"
opencv-python = "^4.6.0"
nuscenes-devkit = "^1.1.9"
pydantic = "^1.10.2"
lark = "^1.1.2"
loguru = "^0.6.0"
numba = "^0.56.4"
requests = "^2.28.2"
cvbridge3 = "^1.1"

[tool.poetry.dev-dependencies]
pytest = "^7.1.1"
pytest-asyncio = "^0.18.3"
pytest-mock = "^3.7.0"

[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.black]
line_length = 99

[tool.isort]
line_length = 99
profile = "black"
force_sort_within_sections = true
reverse_relative = true
