task: convert_rosbag2_to_non_annotated_t4
description:
  scene: ""
conversion:
  without_compress: true
  input_base: ../inputbag
  output_base: ../t4dataset
  skip_timestamp: 2.0
  num_load_frames: 0
  start_timestamp_sec: 0.0
  accept_frame_drop: True
  undistort_image: True
  lidar_sensor:
    topic: /sensing/lidar/concatenated/pointcloud
    channel: LIDAR_CONCAT
    lidar_info_topic: /sensing/lidar/concatenated/pointcloud_info # Do not set to disable saving lidar info
    lidar_info_channel: LIDAR_CONCAT_INFO
    accept_no_info: True # If True, the conversion will continue even if no lidar_info message is found for a point cloud timestamp.
    lidar_sources_mapping:
      REAR_UPPER: /sensing/lidar/rear_upper/pointcloud_before_sync
      REAR_LOWER: /sensing/lidar/rear_lower/pointcloud_before_sync
      LEFT_UPPER: /sensing/lidar/left_upper/pointcloud_before_sync
      LEFT_LOWER: /sensing/lidar/left_lower/pointcloud_before_sync
      FRONT_UPPER: /sensing/lidar/front_upper/pointcloud_before_sync
      FRONT_LOWER: /sensing/lidar/front_lower/pointcloud_before_sync
      RIGHT_UPPER: /sensing/lidar/right_upper/pointcloud_before_sync
      RIGHT_LOWER: /sensing/lidar/right_lower/pointcloud_before_sync
  camera_sensors:
    - topic: /sensing/camera/camera8/image_raw/compressed
      channel: CAM_FRONT
      delay_msec: 45
    - topic: /sensing/camera/camera0/image_raw/compressed
      channel: CAM_BACK
      delay_msec: -10
    - topic: /sensing/camera/camera6/image_raw/compressed
      channel: CAM_FRONT_LEFT
      delay_msec: 25
    - topic: /sensing/camera/camera10/image_raw/compressed
      channel: CAM_BACK_LEFT
      delay_msec: 13
    - topic: /sensing/camera/camera7/image_raw/compressed
      channel: CAM_FRONT_RIGHT
      delay_msec: 61
    - topic: /sensing/camera/camera9/image_raw/compressed
      channel: CAM_BACK_RIGHT
      delay_msec: 80
  ignore_no_ego_transform_at_rosbag_beginning: True
